<div
  *ngIf="product.quantity > 0"
  [@slideUpDown]
  class="card mt-4"
  id="cart-{{ product.id }}"
>
  <div class="card-body">
    <div class="row w-100">
      <div class="col-sm-4">
        <img
          class="card-img-top"
          src="{{ product.image }}"
          alt="{{ product.name }}"
        />
      </div>
      <div class="col-sm-8">
        <h5>{{ product.name }}</h5>
        <p class="card-text"><strong>ID:</strong> {{ product.id }}</p>
        <p class="card-text">
          <strong>Category:</strong> {{ product.category }}
        </p>
        <p class="card-text">
          <strong>Price:</strong> {{ product.price.toFixed(2) }}€
        </p>
        <p class="card-text">
          <strong>Quantity: </strong>
          <span id="quantity-{{ product.id }}">{{ product.quantity }}</span>
        </p>
        <p class="card-text">
          <strong>Total: </strong>
          {{ (product.quantity * product.price).toFixed(2) }}€
        </p>
        <button
          type="button"
          class="btn btn-danger rm-from-cart"
          id="rm-{{ product.id }}"
          (click)="onRemoveFromCart()"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>
